@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./colors";

.main {
  display: flex;
  height: 100vh;
  font-family: "Roboto" "sans-serif";
  background-color: $red;
}

.content-pages {
  padding: 15px;
  background-color: #E1E1E1;
  min-height: 100vh;

  .tittle_pages {
    p {
      font-size: 25px;
    }
  }
}
